@page "/caixa/cancelamentos"
@inject TransactionCancelationRepository rep
@inject NavigationManager navigation
@rendermode InteractiveServer

<PageTitle> Cancelamentos </PageTitle>
<h3>Movimentações Canceladas </h3>
<AuthorizeView Context="contexto1">
    <Authorized>
        <FluentMenuProvider>
            <div class="titulo">
                <h3> Histórico de Cancelamentos </h3>
            </div>
        </FluentMenuProvider>
        <FluentCard Height="100" MinimalStyle="true">
            <FluentDataGrid Items="queryCanceladas"
                            ResizableColumns=false
                            HeaderCellAsButtonWithMenu="true"
                            ShowHover="true"
                            AutoFit="false"
                            RowSize="DataGridRowSize.Medium"
                            Pagination="pagination">
                <EmptyContent>
                    <FluentIcon Value="@(new Icons.Filled.Size16.CalendarEmpty())" Color="@Color.Accent" />&nbsp; Nenhum registro para ser exibido!
                </EmptyContent>
                <ChildContent>
                    <PropertyColumn InitialSortDirection="SortDirection.Descending" Property="@(p=> p.idMovimentacao)" Sortable="true" Title="ID" />
                    <PropertyColumn Property="@(p=> Linter.Utilidades.Uteis.PegaNomeDeExibicao((Enumeradores.TipoUsuario)p.Tipo))" Title="Tipo Movi." />
                    <PropertyColumn Property="@(p=> p.Valor)" Sortable="true" Title="Nome de Usuário" />
                    <PropertyColumn Property="@(p=> p.Tipo)" Title="Email" Sortable="true" />
                    <PropertyColumn Property="@(p=> p.DataCancelamento)" Sortable="true" Title="Data de Cancelamento" />
                    <TemplateColumn Title="Ações" Align="@Align.End" Context="mov">
                        <FluentButton aria-label="Editar" IconEnd="@(new Icons.Regular.Size16.Edit())" OnClick="@(() => ConsultarCancelamento(mov.idMovimentacao))" />
                    </TemplateColumn>
                    <FluentDataGridRow>

                    </FluentDataGridRow>
                </ChildContent>
                <LoadingContent>
                    <FluentStack Orientation="Orientation.Vertical" HorizontalAlignment="HorizontalAlignment.Center">
                        Carregando...<br />
                        <FluentProgress Width="240px" />
                    </FluentStack>
                </LoadingContent>
            </FluentDataGrid>
        </FluentCard>

        <LDN_Paginator Pagination="pagination" strTipo="usuários"> </LDN_Paginator>

        <FluentButton OnClick="@(() => navigation.NavigateTo("/caixa"))" IconStart="@(new Icons.Regular.Size20.ArrowCircleLeft())">
            Voltar
        </FluentButton>

    </Authorized>
    <NotAuthorized>
        <NaoAutorizado></NaoAutorizado>
    </NotAuthorized>
</AuthorizeView>
@code {
    public IQueryable<FinanceCancel> queryCanceladas;

    public PaginationState pagination { get; set; } = new PaginationState { ItemsPerPage = 10 };
    protected override Task OnInitializedAsync()
    {
        queryCanceladas = rep.RetornaMovimentacoesCanceladas();
        return Task.CompletedTask;
    }

    public void ConsultarCancelamento(int id)
    {
        navigation.NavigateTo("");
    }
}
