@inject CNT002_ContasExcluidasRepositorio rep

@page "/contasgerenciais/excluidas"

<h1 class="centralizado">Contas excluídas</h1>

<FluentMenuProvider />
<FluentDialogProvider />

<FluentCard Height="100" MinimalStyle="true">
    <FluentDataGrid Items="queryConta"
                    ResizableColumns=false
                    ResizeType="DataGridResizeType.Exact"
                    HeaderCellAsButtonWithMenu="true"
                    ShowHover="true"
                    AutoFit="false"
                    RowSize="DataGridRowSize.Medium">
        <ChildContent>
            <PropertyColumn Property="@(p=> p.idContaGerencial)" Sortable="true" Title="ID Conta" />
            <PropertyColumn Property="@(p=> p.Descricao)" Title="Descricao" Sortable="false" />
            <PropertyColumn Property="@(p=> p.DataExclusao)" Title="Descricao" Sortable="false" />
            <PropertyColumn Property="@(p=> p.MotivoCancelamento)" Title="Descricao" Sortable="false" />
            <PropertyColumn Property="@(p=> p.UsuarioExclusao)" Title="Descricao" Sortable="false" />
            <TemplateColumn Title="Ações" Align="@Align.End" Width="200px" Context="template">
                <FluentButton aria-label="Restaurar" IconEnd="@(new Icons.Light.Size32.Options())" />
                <FluentButton aria-label="Consultar" IconEnd="@(new Icons.Light.Size32.ZoomIn())" />
            </TemplateColumn>
        </ChildContent>

        <LoadingContent>
            <FluentStack Orientation="Orientation.Vertical" HorizontalAlignment="HorizontalAlignment.Center">
                Carregando...<br />
                <FluentProgress Width="240px" />
            </FluentStack>
        </LoadingContent>
    </FluentDataGrid>
</FluentCard>


@code {
    public IQueryable<DeletedAccount> queryConta;

    protected override async Task OnInitializedAsync()
    {
        queryConta = rep.RetornaTodasExcluidas();
    }
}
