@page "/contasgerenciais"
@inject NavigationManager navigation
@rendermode InteractiveServer
@inject DeletedAccountRepository repositorio

<PageTitle> Contas Gerenciais </PageTitle>

<AuthorizeView Context="contexto">
    <Authorized>
        <h1 class="centralizado">Contas Gerenciais</h1>
        <FluentMenuProvider />

        <FluentCard Height="100" MinimalStyle="true">

            <FluentAppBar Orientation="Orientation.Horizontal" Class="centralizado">
                <FluentAppBarItem Text="Adicionar" IconRest="@(new Icons.Regular.Size24.AddCircle())" OnClick="@(() => navigation.NavigateTo($"/contasgerenciais/{(int)Enumeradores.TipoView.Criar}/{0}"))" />
                <FluentAppBarItem Text="Excluídas" IconRest="@(new Icons.Light.Size32.Delete())" OnClick="@(()=> navigation.NavigateTo($"/contasgerenciais/excluidas"))" />
            </FluentAppBar>

            <FluentDataGrid Items="queryConta"
                            ResizableColumns=false
                            ResizeType="DataGridResizeType.Exact"
                            HeaderCellAsButtonWithMenu="true"
                            ShowHover="true"
                            AutoFit="false"
                            Pagination="pagination"
                            RowSize="DataGridRowSize.Medium">
                <ChildContent>
                    <PropertyColumn Property="@(p=> p.idContaGerencial)" Sortable="true" Title="ID Conta" />
                    <PropertyColumn Property="@(p=> p.Descricao)" Title="Descrição" Sortable="false" />
                    <TemplateColumn Title="Ações" Align="@Align.End" Width="400px" Context="conta">
                        <AuthorizeButton Action="@(() => navigation.NavigateTo($"/caixa/{(int)Enumeradores.TipoView.Consultar}/{conta.idContaGerencial}"))" Icone="@(new Icons.Regular.Size16.Edit())" Titulo="Editar"></AuthorizeButton>
                        <AuthorizeButton Action="@(() => navigation.NavigateTo($"/caixa/{(int)Enumeradores.TipoView.Criar}/{conta.idContaGerencial}"))" Icone="@(new Icons.Regular.Size16.Delete())" Titulo="Excluir"></AuthorizeButton>
                    </TemplateColumn>
                </ChildContent>

                <EmptyContent>
                    <FluentIcon Value="@(new Icons.Filled.Size16.CalendarEmpty())" Color="@Color.Accent" />&nbsp; Nenhum registro para ser exibido!
                </EmptyContent>

                <LoadingContent>
                    <FluentStack Orientation="Orientation.Vertical" HorizontalAlignment="HorizontalAlignment.Center">
                        Carregando...<br />
                        <FluentProgress Width="240px" />
                    </FluentStack>
                </LoadingContent>
            </FluentDataGrid>
        </FluentCard>

        <LDN_Paginator Pagination="pagination" strTipo="contas"> </LDN_Paginator>

    </Authorized>
    <NotAuthorized>
        <NaoAutorizado> </NaoAutorizado>

    </NotAuthorized>
</AuthorizeView>

@code {
    [Parameter]
    public Enumeradores.TipoView tipoView { get; set; }
    [Parameter] public int idMovimentacao { get; set; } = 0;
    public Enumeradores.TipoMovimentacao? tipomov { get; set; }
    [SupplyParameterFromForm] public Account contasGerenciais { get; set; } = new Account();
    public IQueryable<Account> queryConta;
    PaginationState pagination = new PaginationState { ItemsPerPage = 10 };

    protected override async Task<IQueryable> OnInitializedAsync()
    {
        queryConta = repositorio.RetornaContasGerenciais();
        return queryConta;
    }
}
