@page "/contasgerenciais"
@using Linter.Infraestructure.Repositories
@using Linter.Modelos.Entities
@using Linter.Modelos.Enums
@using Linter.Models.Enums
@inject NavigationManager navigation
@rendermode InteractiveServer
@inject DeletedAccountRepository _rep

<PageTitle> Contas Gerenciais</PageTitle>

<AuthorizeView Context="contexto">
    <Authorized>
        <h1 class="centralizado">Contas Gerenciais</h1>
        <FluentMenuProvider/>

        <FluentCard Height="100" MinimalStyle="true">

            <FluentAppBar Orientation="Orientation.Horizontal" Class="centralizado">
                <FluentAppBarItem Text="Adicionar" IconRest="@(new Icons.Regular.Size24.AddCircle())"
                                  OnClick="@(() => navigation.NavigateTo($"/contasgerenciais/")) 
"/>
                <FluentAppBarItem Text="Excluídas" IconRest="@(new Icons.Light.Size32.Delete())"
                                  OnClick="@(() => navigation.NavigateTo($"/contasgerenciais/excluidas"))"/>
            </FluentAppBar>

            <FluentDataGrid Items="query"
                            ResizableColumns=false
                            ResizeType="DataGridResizeType.Exact"
                            HeaderCellAsButtonWithMenu="true"
                            ShowHover="true"
                            AutoFit="false"
                            Pagination="pagination"
                            RowSize="DataGridRowSize.Medium">
                <ChildContent>
                    @* <PropertyColumn Property="@(p => p.idContaGerencial)" Sortable="true" Title="ID Conta"/> *@
                    <PropertyColumn Property="@(p => p.Description)" Title="Descrição" Sortable="false"/>
                    <TemplateColumn Title="Ações" Align="@Align.End" Width="400px" Context="conta">
                        <AuthorizeButton
                            @* Action="@(() => navigation.NavigateTo($"/caixa/{(int)Enumeradores.TipoView.Consultar}/{conta.idContaGerencial}"))" *@
                            Icone="@(new Icons.Regular.Size16.Edit())" Titulo="Editar"></AuthorizeButton>
                        <AuthorizeButton
                            @* Action="@(() => navigation.NavigateTo($"/caixa/{(int)Enumeradores.TipoView.Criar}/{conta.idContaGerencial}"))" *@
                            Icone="@(new Icons.Regular.Size16.Delete())" Titulo="Excluir"></AuthorizeButton>
                    </TemplateColumn>
                </ChildContent>

                <EmptyContent>
                    <FluentIcon Value="@(new Icons.Filled.Size16.CalendarEmpty())" Color="@Color.Accent"/>&nbsp; Nenhum
                    registro para ser exibido!
                </EmptyContent>

                <LoadingContent>
                    <FluentStack Orientation="Orientation.Vertical" HorizontalAlignment="HorizontalAlignment.Center">
                        Carregando...<br/>
                        <FluentProgress Width="240px"/>
                    </FluentStack>
                </LoadingContent>
            </FluentDataGrid>
        </FluentCard>

        <LDN_Paginator Pagination="pagination" strTipo="contas"></LDN_Paginator>

    </Authorized>
    <NotAuthorized>
        <NaoAutorizado></NaoAutorizado>

    </NotAuthorized>
</AuthorizeView>

@code {
    
    [Parameter] public Guid Id { get; set; }
    public MovementNature? Nature { get; set; }
    [SupplyParameterFromForm] public Account account { get; set; } = new Account();
    public IQueryable<Account> query;
    PaginationState pagination = new PaginationState { ItemsPerPage = 10 };

    protected override async Task<IQueryable> OnInitializedAsync()
    {
        // query = _rep.RetornaContasGerenciais();
        return query;
    }

}
